footer.footer 
    .container
        .footer-content
            .footer-section
                .footer-logo
                    img(src="/images/logo.png", alt="Company Logo")
                p.footer-description Chuyên cung cấp các sản phẩm chất lượng cao với dịch vụ khách hàng tốt nhất. Chúng tôi cam kết mang đến trải nghiệm mua sắm tuyệt vời cho quý khách.
                .social-links
                    a.social-link(href="#", title="Facebook")
                        i.fab.fa-facebook-f
                    a.social-link(href="#", title="Twitter")
                        i.fab.fa-twitter
                    a.social-link(href="#", title="Instagram")
                        i.fab.fa-instagram
                    a.social-link(href="#", title="LinkedIn")
                        i.fab.fa-linkedin-in
                    a.social-link(href="#", title="YouTube")
                        i.fab.fa-youtube
            
            .footer-section
                h4.footer-title Liên kết nhanh
                ul.footer-links
                    li
                        a(href="/") Trang chủ
                    li
                        a(href="/products") Sản phẩm
                    li
                        a(href="/about") Giới thiệu
                    li
                        a(href="/contact") Liên hệ
                    li
                        a(href="/blog") Tin tức
                    li
                        a(href="/faq") FAQ
            
            .footer-section
                h4.footer-title Dịch vụ
                ul.footer-links
                    li
                        a(href="/shipping") Vận chuyển
                    li
                        a(href="/returns") Đổi trả
                    li
                        a(href="/warranty") Bảo hành
                    li
                        a(href="/support") Hỗ trợ
                    li
                        a(href="/tracking") Theo dõi đơn hàng
                    li
                        a(href="/loyalty") Chương trình khách hàng thân thiết
            
            .footer-section
                h4.footer-title Liên hệ
                .contact-info
                    .contact-item
                        i.fas.fa-map-marker-alt
                        span 123 Đường ABC, Quận 1, TP.HCM
                    .contact-item
                        i.fas.fa-phone
                        span +84 123 456 789
                    .contact-item
                        i.fas.fa-envelope
                        span info@cuongnguyen.com
                    .contact-item
                        i.fas.fa-clock
                        span Thứ 2 - Thứ 7: 8:00 - 18:00
        
        .footer-bottom
            .footer-bottom-content
                .copyright
                    p &copy; 2025 Cường Nguyễn Company. Tất cả quyền được bảo lưu.
                .footer-bottom-links
                    a(href="/privacy") Chính sách bảo mật
                    a(href="/terms") Điều khoản sử dụng
                    a(href="/sitemap") Sitemap